---
import IconMoon from "@/assets/icons/IconMoon.svg";
import IconSearch from "@/assets/icons/IconSearch.svg";
import IconSun from "@/assets/icons/IconSun.svg";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <span></span>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/">home</Link>
        <span>
          {`|`}
        </span>
        <Link href="/blog">blog</Link>
        <span></span>
        <button
          id="magnifying-glass"
          aria-label="Search"
          class="flex items-center rounded-sm border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
        >
          <IconSearch />
          &nbsp;Search
        </button>
        <button
          id="toggle-theme-button"
          class="group flex size-8 items-center justify-center rounded-md transition-colors duration-300 ease-in-out hover:bg-black/5 hover:dark:bg-white/15"
          title="Toggles light & dark"
          aria-label="auto"
          aria-live="polite"
        >
          <IconMoon
            class="hidden transition-colors duration-300 ease-in-out group-hover:stroke-black dark:block group-hover:dark:stroke-white"
          />
          <IconSun
            class="block transition-colors duration-300 ease-in-out group-hover:stroke-black dark:hidden group-hover:dark:stroke-white"
          />
        </button>
      </nav>
    </div>
  </Container>
</header>
